---
title: Tags
layout: default
---

<div class="page-row">

    <h1 class="page-heading">Tags</h1>

    {% include tag_cloud.html %}

    <!-- 标签列表 -->
    {% for tag in site.tags %}
    <div class="tag-posts">
        <span class="tag-text" id="{{ tag[0] }}"><i>&lt;</i>{{ tag[0] }}<i>/&gt;</i></span>
        {% for post in tag[1] %}
        <div class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <h2 class="post-title">
                    {{ post.title }}
                </h2>
                {% if post.subtitle %}
                <h3 class="post-subtitle">
                    {{ post.subtitle }}
                </h3>
                {% endif %}
            </a>
        </div>
        <hr>
        {% endfor %}
    </div>
    {% endfor %}

</div>
